<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

	<targets>
		<target
             name="file_errors"
             xsi:type="File"
             fileName="${basedir}/log/${shortdate}_errors.log"
             keepFileOpen="false"
             concurrentWrites="true"
             layout="${level} - ${date}${newline}${newline}Message: ${message}${newline}${newline}Error message: ${exception:Message}${newline}${newline}${exception:format=ToString,StackTrace}${newline}${newline}${newline}"/>
		<target
             name="file_info"
             xsi:type="File"
             fileName="${basedir}/log/${shortdate}_info.log"
             keepFileOpen="false"
             concurrentWrites="true"
             layout="${date}: ${level} - ${message}"/>
		<target
             name="file_trace"
             xsi:type="File"
             fileName="${basedir}/log/${shortdate}_trace.log"
             keepFileOpen="false"
             concurrentWrites="true"
             layout="${level} - ${date}: ${message}${newline}"/>
	</targets>

	<rules>
		<logger name="*" levels="Error,Fatal,Warn" writeTo="file_errors" />
		<logger name="*" levels="Debug,Info" writeTo="file_info" />
		<logger name="*" levels="Trace" writeTo="file_trace" />
	</rules>
</nlog>